@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.welcome {
  background-color:rgb(247, 216, 221);
  width: 100%;
  height: 50px;
  margin: 0%;
  font: bold;
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: larger;
}
/* ----------------------welcome banner ends here--------------------------------- */

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/* -------------------------------navigation bar starts---------------------------------- */

.nav-bar {
  background-color: whitesmoke;
  height: 110px;
}

.nav-bar-container {
  max-width: 1100px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
  position: sticky;
}

.flex {
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: space-between;
}

img {
  height: 90px;
  width: 90px;
  border-radius: 50%;
}

.menu-container ul li {
  list-style-type: none;
}

.menu-item {
  display: inline-block;
  padding: 25px;
}

nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

nav {
  background-color: rgb(250, 99, 130);
}
.hamburger {
  font-size: 20px;
  /* display: none; */
}
.hamburger a {
  text-decoration: none;
  color: black;
}
.navbtn {
  font-size: 20px;
  margin-top: 20px;
  margin-right: 20px;
  font-size: 15px;
  background-color: black;
  border-style: none;
  border-radius: 5px;
  padding: 8px 24px;
  text-align: center;
  display: inline-block;
  font-weight: bold;
}

.navbtn a {
  text-decoration: none;
  color: white;
  margin-top: 5px;
  margin-bottom: 5px;
}
.navbtn:hover {
  background-color: deeppink;
  font-weight: bold;
}

/* --------------------------------------navigation ends here...------------------------------------- */

@media only screen and(max-width:600px) {
  .hamburger {
    display: block;
  }
  .menu,
  .navbtn {
    display: none;
  }
}

/* -------------------------------------------section I starts------------------------------------ */

.secI {
  background: rgb(247, 216, 221);
  border-radius: 5px;
  width: 100%;
  float: left;
  height: 600px;
}

.secI-cont {
  margin-left: 150px;
  margin-top: 100px;
}

.secI p {
  color: deeppink;
  font-size: larger;
  margin-bottom: 30px;
}
.secI h1 {
  font-size: 70px;
}
.btnI {
  margin-top: 30px;
  font-size: 15px;
  background-color: deeppink;
  border-style: none;
  border-radius: 5px;
  padding: 8px 24px;
  text-align: center;
  display: inline-block;
  font-weight: bold;
  position: relative;
}
.secI button a {
  text-decoration: none;
  color: white;
  margin-top: 5px;
  margin-bottom: 5px;
}

.btnI:hover {
  background-color: black;
  font-weight: bold;
}

/* ---------------------------------------section II starts---------------------------------------------- */

.secII {
  background: whitesmoke;
  border-radius: 5px;
  width: 100%;
  float: left;
  height: 300px;
}

.secII-cont {
  justify-content: space-around;
  display: flex;
}

.secII h3 {
  font-weight: bold;
}
.secII span {
  height: 200px;
  width: 25%;
}

.secII span p {
  margin-top: 10px;
}

.secII h3:hover {
  color: deeppink;
}
.qe {
  margin-top: 120px;
  margin-left: 50px;
}
.aff {
  margin-top: 120px;
  margin-left: 50px;
}
.serv {
  margin-top: 120px;
  margin-left: 50px;
}

/* ----------------------------------------section III starts------------------------------------------------- */

.secIII {
  background: whitesmoke;
  border-radius: 5px;
  width: 100%;
  height: 600px;
  float: left;
}

.secIII-cont {
  width: 70%;
  height: 100%;
  float: right;
}
.secIII h1 {
  position: relative;
  width: 60%;
  float: right;
  display: block;
  margin-top: 50px;
}
.secIII p {
  width: 50%;
  float: right;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 25px;
  margin-bottom: 50px;
  margin-right: 10%;
}
.secIII ul li {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  margin-left: 40%;
  margin-top: 20px;
}

.secIII button {
  margin-left: 40%;
  margin-top: 7%;
  font-size: 15px;
  background-color: deeppink;
  border-style: none;
  border-radius: 5px;
  padding: 8px 24px;
  text-align: center;
  font-weight: bold;
}

.secIII button a {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  text-decoration: none;
  color: white;
  margin-top: 5px;
  margin-bottom: 5px;
}

.btnII:hover {
  background-color: black;
  font-weight: bold;
}
.contact {
  float: right;
  margin-right: 20%;
  margin-bottom: 250px;
}
.cont-no {
  font-weight: bold;
}
.cont-no:hover {
  color: deeppink;
}
/* ----------------------------------------secIV starts------------------------------------------------------------- */
.secIV {
  height: 600px;
  width: 100%;
  border-radius: 5px;
  float: left;
  justify-content: space-evenly;
}
.secIV h3 {
  color: deeppink;
  text-align: center;
  padding: 50px;
  font-weight: bold;
  margin-top: 30px;
}
.secIV h1 {
  width: 500px;
  font-weight: bolder;
  margin-left: 400px;
}
.secIV .h1two {
  margin-left: 500px;
}
.secIV span {
  width: 25%;
  float: left;
  margin-top: 60px;
  text-align: center;
}
.secIV h4 {
  font-weight: bold;
  font-size: larger;
}

.secIV h4:hover {
  color: deeppink;
}

.secIV p {
  margin-top: 30px;
  font-weight: normal;
  font-size: medium;
  color: grey;
}
.secIV button {
  background-color: deeppink;
  color: white;
  font-weight: bold;
  font-size: 15px;
  height: 35px;
  width: 50px;
  border-style: none;
  border-radius: 2px;
  margin-left: 350px;
  margin-top: 12px;
}
.secIV-end {
  margin-top: 60px;
  margin-left: 420px;
  position: relative;
  margin-top: 235px;
  margin-bottom: 15%;
}
/* --------------------------------------------secV starts-------------------------------------------------- */
.secV {
  height: 500px;
  width: 100%;
  float: left;
}

.secV-heading {
  margin-top: 5%;
  margin-left: 25%;
}

.secV .hi {
  float: right;
  font-size: x-large;
  font-weight: bolder;
  color: deeppink;
  margin-right: 35%;
  margin-bottom: 50%;
}

#dropdown {
  width: 50%;
  margin-left: 25%;
}

#dropdown li {
  list-style-type: none;
  margin-top: 20px;
}

#dropdown li label {
  font-weight: bold;
  font-size: larger;
}

#dropdown .answer {
  width: 60%;
  margin-top: 15px;
}

#span-tag {
  transform: rotate(90deg);
  font-size: 32px;
  color: black;
}
#dropdown label + input[type="radio"] {
  display: none;
}
#dropdown .answer {
  padding: 0 10px;
  line-height: 26px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s;
}
#dropdown label + input[type="radio"]:checked + .answer {
  max-height: 400px;
}
/* ---------------------------------------------secVI starts-------------------------------------------------- */
.secVI {
  width: 100%;
  height: 500px;
  float: left;
}
.secVI .conVI {
  width: 70%;
  height: 400px;
  border: 1px solid deeppink;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 50px;
  background-color: deeppink;
  border-radius: 2px;
}
.conVI h1 {
  width: 40%;
  float: right;
  margin-left: 10%;
  margin-top: 5%;
  color: white;
}
.conVI p {
  width: 30%;
  margin-right: 10%;
  margin-left: 60%;
  margin-top: 22%;
  font-size: medium;
  font-weight: bold;
  color: white;
}

.secVIbtn {
  font-size: 20px;
  margin-top: 20px;
  margin-right: 20px;
  font-size: 15px;
  background-color: white;
  border-style: none;
  border-radius: 5px;
  padding: 8px 24px;
  text-align: center;
  display: inline-block;
  font-weight: bold;
  margin-left: 70%;
  margin-top: 50px;
}

.secVIbtn a {
  text-decoration: none;
  color: black;
  margin-top: 5px;
  margin-bottom: 5px;
}
.secVIbtn:hover {
  background-color: black;
  color: white;
  font-weight: bold;
}
/* ----------------------------------------secVIII------------------------------------- */
.secVIII {
  width: 100%;
  height: 850px;
  float: left;
}

.floating-div {
  height: 200px;
  width: 200px;
  border: 1px solid deeppink;
  border-left: none;
  border-right: none;
  background-color: white;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin-left: 350px;
  margin-top: 80px;
}
.floating-div .overlay {
  position: absolute;
  height: 100px;
  width: 100px;
  background-color: deeppink;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 80%;
  border-top-right-radius: 5%;
}
.secVIII h1 {
  position: relative;
  font-weight: bold;
  font-size: 70px;
  margin-top: 30%;
  margin-left: 70%;
  letter-spacing: -1px;
}
.secVIII p {
  position: relative;
  letter-spacing: -1px;
  color: grey;
  margin-left: 20px;
  font-weight: bold;
}
.content {
  height: 80%;
  width: 50%;
  float: right;
  padding-top: 80px;
  padding-left: 50px;
  padding-right: 50px;
  position: static;
}
.content p {
  float: left;
}

.content #one {
  color: deeppink;
}
.content #two {
  color: black;
  font-size: 60px;
  letter-spacing: -1px;
  margin-top: 65px;
}
.content #three {
  position: absolute;
  margin-top: 35px;
  letter-spacing: 1px;
  font-weight: normal;
}
.sub-divs {
  border-radius: 10px;
  width: 100%;
  height: 250px;
  margin-top: 300px;
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.subdiv1:hover {
  border: 2px solid deeppink;
}
.subdiv2:hover {
  border: 2px solid deeppink;
}
.subdiv3:hover {
  border: 2px solid deeppink;
}
.subdiv4:hover {
  border: 2px solid deeppink;
}

.sub-divs img {
  height: 50px;
  width: 50px;
  margin-top: 10px;
  margin-left: 5px;
}

.sub-divs p {
  margin-top: 8%;
  margin-left: 12%;
  font-weight: normal;
  color: black;
}

.subdiv1 {
  width: 45%;
  height: 30%;
  border: 1px solid #000000;
  padding-left: 10px;
  text-align: center;
  justify-content: center;
  border: 1px solid gray;
  border-radius: 10px;
}
.subdiv2 {
  width: 45%;
  height: 30%;
  border: 1px solid black;
  float: right;
  padding-left: 10px;
  text-align: center;
  border: 1px solid gray;
  border-radius: 10px;
}
.subdiv3 {
  width: 45%;
  height: 30%;
  border: 1px solid black;
  margin-top: 20px;
  padding-left: 10px;
  text-align: center;
  border: 1px solid gray;
  border-radius: 10px;
}
.subdiv4 {
  width: 45%;
  height: 30%;
  border: 1px solid black;
  float: right;
  padding-left: 10px;
  text-align: center;
  border: 1px solid gray;
  border-radius: 10px;
}

.sub-divs p:hover {
  font-weight: bold;
}

.secVIII button {
  font-size: 20px;
  margin-top: 20px;
  margin-right: 20px;
  font-size: 15px;
  background-color: black;
  color: white;
  border-style: none;
  border-radius: 5px;
  padding: 8px 24px;
  text-align: center;
  display: inline-block;
  font-weight: bold;
  margin-left: 34%;
  margin-top: 55%;
}

.secVIII-end {
  margin-left: 1%;
  margin-top: 90px;
  font-weight: 600;
  color: grey;
}
.secVIII-end a {
  color: black;
}
.secVIII-end a:hover {
  color: deeppink;
}
/* ----------------------------------------secXI------------------------------------- */
.secXI {
  height: 700px;
  width: 100%;
  float: left;
  background-color: rgb(255, 240, 250);
}
.headings {
  text-align: center;
  margin-top: 5%;
}

.headings p {
  color: deeppink;
  font-weight: bold;
}

.headings h1 {
  margin-top: 20px;
  font-weight: bold;
  font-size: 50px;
  letter-spacing: -2px;
}

.blog-wrapper {
  height: 70%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 20px;
}

.blog1 {
  height: 90%;
  width: 25%;
  background-color: white;
}

.blog1 img {
  border-radius: 0%;
  height: 40%;
  width: 100%;
}

.blog-content img {
  height: 20px;
  width: 30px;
  margin-top: 30px;
  margin-left: 20px;
  display: inline-block;
}
.blog-content span {
  margin-top: 30px;
  margin-left: 20px;
  display: inline-block;
}

.blog-content h2 {
  margin-top: 10px;
  margin-left: 20px;
  letter-spacing: -1px;
}
.blog-content h2 a {
  text-decoration: none;
  color: black;
}
.blog-content h2 a:hover {
  color: deeppink;
}

.blog-content p {
  margin-top: 10px;
  margin-left: 20px;
}

.blog1 button {
  margin-top: 10px;
  margin-left: 20px;
  height: 30px;
  width: 150px;
  background-color: white;
  border-style: none;
  border: 1px solid grey;
}
.blog1 button a {
  text-decoration: none;
  color: gray;
  font-weight: bold;
  font-size: 15px;
}

.blog1 button span {
  align-items: center;
  color: white;
  font-weight: bold;
  display: inline-block;
  background-color: black;
  width: 27px;
  height: 20px;
  margin-left: 20px;
}

.blog1 button:hover {
  background-color: deeppink;
  border: none;
}
.blog1 button a:hover {
  color: white;
  font-weight: bold;
}
.blog1 button span:hover {
  color: black;
  background-color: white;
}

.blog2 {
  height: 90%;
  width: 25%;
  background-color: white;
}
.blog2 img {
  border-radius: 0%;
  height: 40%;
  width: 100%;
}

.blog-content img {
  height: 20px;
  width: 30px;
  margin-top: 30px;
  margin-left: 20px;
  display: inline-block;
}
.blog-content span {
  margin-top: 30px;
  margin-left: 20px;
  display: inline-block;
}

.blog-content h2 {
  margin-top: 10px;
  margin-left: 20px;
  letter-spacing: -1px;
}
.blog-content h2 a {
  text-decoration: none;
  color: black;
}
.blog-content h2 a:hover {
  color: deeppink;
}

.blog-content p {
  margin-top: 10px;
  margin-left: 20px;
}

.blog2 button {
  margin-top: 10px;
  margin-left: 20px;
  height: 30px;
  width: 150px;
  background-color: white;
  border-style: none;
  border: 1px solid grey;
}
.blog2 button a {
  text-decoration: none;
  color: gray;
  font-weight: bold;
  font-size: 15px;
}

.blog2 button span {
  align-items: center;
  color: white;
  font-weight: bold;
  display: inline-block;
  background-color: black;
  width: 27px;
  height: 20px;
  margin-left: 20px;
}

.blog2 button:hover {
  background-color: deeppink;
  border: none;
}
.blog2 button a:hover {
  color: white;
  font-weight: bold;
}
.blog2 button span:hover {
  color: black;
  background-color: white;
}

.blog3 {
  height: 90%;
  width: 25%;
  background-color: white;
}

.blog3 img {
  border-radius: 0%;
  height: 40%;
  width: 100%;
}

.blog-content img {
  height: 20px;
  width: 30px;
  margin-top: 30px;
  margin-left: 20px;
  display: inline-block;
}
.blog-content span {
  margin-top: 30px;
  margin-left: 20px;
  display: inline-block;
}

.blog-content h2 {
  margin-top: 10px;
  margin-left: 20px;
  letter-spacing: -1px;
}
.blog-content h2 a {
  text-decoration: none;
  color: black;
}
.blog-content h2 a:hover {
  color: deeppink;
}

.blog-content p {
  margin-top: 10px;
  margin-left: 20px;
}

.blog3 button {
  margin-top: 10px;
  margin-left: 20px;
  height: 30px;
  width: 150px;
  background-color: white;
  border-style: none;
  border: 1px solid grey;
}
.blog3 button a {
  text-decoration: none;
  color: gray;
  font-weight: bold;
  font-size: 15px;
}

.blog3 button span {
  align-items: center;
  color: white;
  font-weight: bold;
  display: inline-block;
  background-color: black;
  width: 27px;
  height: 20px;
  margin-left: 20px;
}

.blog3 button:hover {
  background-color: deeppink;
  border: none;
}
.blog3 button a:hover {
  color: white;
  font-weight: bold;
}
.blog3 button span:hover {
  color: black;
  background-color: white;
}

/* ----------------------------------------------secXII------------------------------------------------- */
.secXII {
  height: 700px;
  width: 100%;
  float: left;
  background-color: rgb(255, 240, 250);
}
.footer-wrapper {
  height: 70%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 5%;
}
.insupay {
  height: 100%;
  width: 25%;
}
.insupay img {
  margin-left: 5%;
  margin-top: 5%;
  height: 150px;
  width: 150px;
}

.insupay p {
  margin-left: 15%;
  margin-top: 20px;
  width: 70%;
  font-weight: 200;
  color: gray;
}

.insupay-but {
  height: 60px;
  width: 150px;
  background: deeppink;
  border: none;
  border-radius: 5px;
  margin-left: 15%;
  margin-top: 30px;
}
.insupay-but a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 15px;
}
.insupay-but:hover {
  background-color: black;
  color: white;
  font-weight: bold;
}

.information {
  height: 100%;
  width: 25%;
  flex-direction: column-reverse;
}

.information h2 {
  margin-left: 15%;
  margin-top: 25%;
}

.information a {
  text-decoration: none;
  color: gray;
  margin-left: 15%;
  margin-right: 50%;
}

.info-cont {
  margin-top: 50px;
}

.information a:hover {
  color: deeppink;
}

.followus {
  height: 100%;
  width: 25%;
}
.followus h2 {
  margin-left: 15%;
  margin-top: 25%;
}
.followus img {
  border-radius: 0%;
  height: 30px;
  width: 30px;
  margin-left: 15px;
}

.followus a {
  text-decoration: none;
  color: gray;
  display: inline-block;
  margin-left: 15px;
}
.face-footer {
  margin-top: 15%;
  margin-left: 10%;
}
.insta-footer {
  margin-left: 10%;
}
.twit-footer {
  margin-left: 10%;
}
.pin-footer {
  margin-left: 10%;
}
.getintouch {
  height: 100%;
  width: 25%;
}
.getintouch h2 {
  margin-top: 25%;
  margin-left: 15%;
}
.add-heading {
  margin-top: 15%;
  margin-left: 15%;
  font-weight: bold;
}
.address {
  margin-top: 15px;
  margin-left: 15%;
}
.contact-footer {
  margin-top: 15%;
  margin-left: 15%;
  cursor: pointer;
}

.contact-footer-no {
  font-weight: bold;
}

.contact-footer-no:hover {
  color: deeppink;
}
/* --------------------------------------------scrollbutton part------------------------------------------------ */
.scroll-button {
  background: rgb(243, 164, 219);
  position: fixed;
  bottom: 16px;
  right: 32px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  color: rgb(247, 241, 241);

  opacity: 0;
  pointer-events: none;
  transition: all 0.5s;
}

.scroll-button a {
  text-decoration: none;
  color: white;
}

.scroll-button.active {
  bottom: 32px;
  pointer-events: auto;
  opacity: 1;
}
